# Dependencies
/node_modules
/.pnp
.pnp.js
.pnp.loader.mjs

# Build artifacts
/.next/
/out/
/build/

# Caching
.next/cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env.local
.env.development.local
.env.production.local
.env.test.local

# Misc
.DS_Store
*.pem

# Vercel
.vercel

# Turbo
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts
